//  ## COMMON  ----------------------------------------------------------------------//

.album {
    margin-top: 70px;
}

.album h2 {
    margin-bottom: 1.5625rem;
}

.album img {
    width: 100%;
}
